In [2]:
import pandas as pd
import numpy as np

## Kata 1 <br>
In this kata you will create a function that takes a list of non-negative integers and strings and returns a new list with the strings filtered out. <br>
filter_list([1,2,'a','b']) == [1,2]

In [2]:
l = ([1,'a','b',0,15])
l

[1, 'a', 'b', 0, 15]

In [3]:
def filter_list(l):
    empty_l = []
    for e in l:
        if type(e) == int:
            empty_l.append(e)
    return empty_l

In [4]:
filter_list(l)

[1, 0, 15]

In [5]:
def filter_list(l):
    return [e for e in l if type(e)==int]

In [6]:
filter_list(l)

[1, 0, 15]

***

## Lists of the lists

In [7]:
l = (["AAAa",'a','b',["bb", "RRT"], "erTTl"])

In [8]:
l

['AAAa', 'a', 'b', ['bb', 'RRT'], 'erTTl']

In [9]:
def funkce1(l):
    empty_l = []
    for e in l:
        t = type(e)
        if t is tuple or t is list:
            for i in funkce1(e):
                empty_l.append(i)
        else:
            empty_l.append(e)
    return empty_l
funkce1(l)

['AAAa', 'a', 'b', 'bb', 'RRT', 'erTTl']

***

## Kata 2 <br>
Write a function that will return the count of distinct case-insensitive alphabetic characters and numeric digits that occur more than once in the input string. The input string can be assumed to contain only alphabets (both uppercase and lowercase) and numeric digits. <br>
"abcde" -> 0 # no characters repeats more than once <br>
"aabBcde" -> 2 # 'a' occurs twice and 'b' twice (`b` and `B`) <br>
"aA11" -> 2 # 'a' and '1' <br>

In [10]:
string = "aabBcde22" 
print(string)

def duplicate_count(text):
    all_freq = {}
    number = 0
    for i in text.lower():
        if i in all_freq:
            all_freq[i] += 1
        else:
            all_freq[i] = 1
    for e in all_freq.values():
        if e > 1:
            number += 1
    return number

duplicate_count(string)

aabBcde22

3

In [11]:
def duplicate_count(s):
    return len([c for c in set(s.lower()) if s.lower().count(c)>1])
duplicate_count(string)

3

## Kata 3 <br>
Your task is to write a function that takes a string and return a new string with all vowels removed.

For example, the string "This website is for losers LOL!" would become "Ths wbst s fr lsrs LL!".
Note: for this kata y isn't considered a vowel.

In [39]:
string_ = "This website is for losers LOL!"

In [40]:
vowels = ('a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U')
def disemvowel(string_):
    for e in string_:
        if e in vowels:
            string_ = string_.replace(e, "")
    return string_

In [41]:
disemvowel(string_)

'Ths wbst s fr lsrs LL!'

The join() string method returns a string by joining all the elements of an iterable (list, string, tuple), separated by a string separator.

In [43]:
def disemvowel(string_):
    return "".join(c for c in string_ if c.lower() not in "aeiou")

In [44]:
disemvowel(string_)

'Ths wbst s fr lsrs LL!'

In [48]:
text = ['Python', 'is', 'a', 'fun', 'programming', 'language']

# join elements of text with space
print(' '.join(text))

Python is a fun programming language

## Kata 4 <br>
Implement the function unique_in_order which takes as argument a sequence and returns a list of items without any elements with the same value next to each other and preserving the original order of elements.

unique_in_order('AAAABBBCCDAABBB') == ['A', 'B', 'C', 'D', 'A', 'B']

In [162]:
tuple_ = (1,2,'a','a','a',3,3,'b','b')

In [163]:
def unique_in_order(iterable):
    lst = [""]
    iterable = tuple(map(str, iterable))
    for e in iterable:
        if e not in lst[-1]:
            lst.append(e)
    lst = lst[1:]
    return lst

In [164]:
unique_in_order(tuple_)

['1', '2', 'a', '3', 'b']

## Kata 5 <br>

Complete the function that accepts a string parameter, and reverses each word in the string. All spaces in the string should be retained.

"This is an example!" ==> "sihT si na !elpmaxe" <br>
"double  spaces"      ==> "elbuod  secaps" <br>

Musejí tam být i více než jedna mezera, pokud se vyskytuje.

In [54]:
text = "Hello      how are you"

In [55]:
def reverse_words(text):
    empty_lst = []
    for e in text.split(" "):
        empty_lst.append(e[::-1])
    new_string = " ".join(empty_lst)
    return new_string

reverse_words(text)

'olleH      woh era uoy'

In [62]:
def reverse_words(str):
    return ' '.join(s[::-1] for s in str.split(' '))

reverse_words(text)

'olleH      woh era uoy'

### Iterování nad seznamem

In [64]:
students = ["Hermiona", "Harry", "Ron", "Ronaldo", "Dumbldor", "Rihanna"]

for i in range(len(students)):
    print(i + 1, students[i])

1 Hermiona
2 Harry
3 Ron
4 Ronaldo
5 Dumbldor
6 Rihanna

## Kata 6 <br>
Your task is to write a function maskify, which changes all but the last four characters into '#'.

Examples
"4556364607935616" --> "############5616"
     "64607935616" -->      "#######5616"
               "1" -->                "1"
                "" -->                 ""

// "What was the name of your first pet?"

"Skippy" --> "##ippy"

"Nananananananananananananananana Batman!"
-->
"####################################man!"

In [31]:
s = "Nananananananananananananananana Batman!"

In [38]:
def maskify(s):
    l = len(s)
    if l <= 4: 
        return s
    return (l - 4) * '#' + s[-4:]

maskify(s)

'####################################man!'

In [41]:
def maskify(s):
    return "".join(['#' for x in s[:-4]]) + s[-4:]

maskify(s)

'####################################man!'