In [1]:
import pandas as pd
import numpy as np

## lambda function

Funkci Lambda použijeme když potřebujeme funkci pouze jednou. <br>
Funkce Python Lambda se často používají vestavěné funkce jako filtr (), mapa (), zmenšit () atd., <br>
Použití funkcí Lambda snižuje počet řádků kódu ve srovnání s normálními funkcemi. <br>

<b>příklad lambda</b>

In [2]:
a=lambda x:x**(1/2)
print(a(225))

15.0

x - je argument <br>

x ** (1/2) - Výraz, který se vyhodnotí <br>

lambda x: x ** (1/2) - anonymní funkce, která vrací funkční objekt <br>

<b>příklad map a lambda <br> </b>
map() - provede danou funkci nad každou složkou (iterovaného objektu) z listu/tuplu

In [4]:
test_map = pd.DataFrame({"Name":["Pepa", "Jarmila", "Jana"],
                "Gender":["muz", "zena", "zena"]
              })
test_map

      Name Gender
0     Pepa    muz
1  Jarmila   zena
2     Jana   zena

In [5]:
test_map["Gender"] = test_map["Gender"].map({"muz":"male", "zena":"female"})
test_map

      Name  Gender
0     Pepa    male
1  Jarmila  female
2     Jana  female

In [6]:
numbers = [25, 77, 2, 8, 11]

In [7]:
squared_numbers = map(lambda num: num ** 2, numbers)

In [8]:
list(squared_numbers)

[625, 5929, 4, 64, 121]

In [9]:
names = ['Jerry', 'Kramer', 'Elaine', 'George', 'Newman']
# Use map to apply str.upper to each element in names
names_map  = map(lambda x: x.upper(), names)

# Print the type of the names_map
print(type(names_map))

# Unpack names_map into a list
names_uppercase = [*names_map]

# Print the list created above
print(names_uppercase)

<class 'map'>
['JERRY', 'KRAMER', 'ELAINE', 'GEORGE', 'NEWMAN']

<b> příklad filter a lambda <br> </b>
filter() - dokáže vyfiltrovat elementy z listu, které nesplňují požadované kritérium

In [10]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# Use filter() to apply a lambda function over fellowship: result
result = filter(lambda x: len(x) > 6, fellowship)

# Convert result to a list: result_list
result_list = list(result)

# Print result_list
print(result_list)

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']

<b> příklad reduce a lambda <br> </b>
reduce() - vrací jedinou výslednou hodnotu z postupné aplikace dvou po sobě připravených hodnot. Tuto funkci nutno importovat z modulu functools.

In [11]:
# Import reduce from functools
from functools import reduce

# Create a list of strings: stark
stark = ['robb', 'sansa', 'arya', 'brandon', 'rickon']

# Use reduce() to apply a lambda function over stark: result
result = reduce(lambda item1, item2: item1 + item2, stark)

# Print the result
print(result)

robbsansaaryabrandonrickon

<b> příklad range

In [12]:
# Create a range object that goes from 0 to 5
nums = range(0,6)
print(type(nums))

# Convert nums to a list
nums_list = list(nums)
print(nums_list)

# Create a new list of odd numbers from 1 to 11 by unpacking a range object
nums_list2 = [*range(1,12,2)] # je to to stejný jako udělat list() = *range() - vytvoří taky seznam
print(nums_list2)

<class 'range'>
[0, 1, 2, 3, 4, 5]
[1, 3, 5, 7, 9, 11]

<b> příklad enumerate </b> <br>
vytvoří index pro každou položku v přiloženém objektu(seznamu, tuplu etc.)

In [13]:
names = ['Jerry', 'Kramer', 'Elaine', 'George', 'Newman']

# Rewrite the for loop to use enumerate
def enumerate_example(list_names):
    indexed_names = []
    for i,name in enumerate(names):
        index_name = (i,name)
        indexed_names.append(index_name) 
    print(indexed_names)
enumerate_example(names)

# Rewrite the above for loop using list comprehension
indexed_names_comp = [(i,name) for i,name in enumerate(names)]
print(indexed_names_comp)

# Unpack an enumerate object with a starting index of one
indexed_names_unpack = [*enumerate(names, 1)]
print(indexed_names_unpack)

[(0, 'Jerry'), (1, 'Kramer'), (2, 'Elaine'), (3, 'George'), (4, 'Newman')]
[(0, 'Jerry'), (1, 'Kramer'), (2, 'Elaine'), (3, 'George'), (4, 'Newman')]
[(1, 'Jerry'), (2, 'Kramer'), (3, 'Elaine'), (4, 'George'), (5, 'Newman')]

<b> List comprehensions </b> <br>
newlist = [expression <b>for</b> item <b>in</b> iterable] <br>
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list

In [14]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
[x.upper() for x in fruits]

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [15]:
numbers

new_nums= list()
for num in numbers:
    new_nums.append(num+1)
print(numbers)
print(new_nums)

[25, 77, 2, 8, 11]
[26, 78, 3, 9, 12]

In [16]:
new_nums2 = [num + 1 for num in numbers]
new_nums2

[26, 78, 3, 9, 12]

<b> Nested list comprehension

In [17]:
# Create a 5 x 5 matrix using a list of lists: matrix
matrix = [[col for col in range(5)] for row in range(5)]

# Print the matrix
for row in matrix:
    print(row)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

<b> List comprehensions using conditionals </b> <br>
[output expression <b>for</b> iterator variable <b>in</b> iterable <b>if</b> predicate expression]

In [18]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [member if len(member) >= 7 else '' for member in fellowship]

# Print the new list
print(new_fellowship)

['', 'samwise', '', 'aragorn', 'legolas', 'boromir', '']

<b> Dict comprehensions </b> <br>
Recall that the main difference between a list comprehension and a dict comprehension is the use of curly braces {} instead of []. Additionally, members of the dictionary are created using a colon :, as in "key" : "value"

In [19]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create dict comprehension: new_fellowship
new_fellowship = {member:len(member) for member in fellowship}

# Print the new dictionary
print(new_fellowship)

{'frodo': 5, 'samwise': 7, 'merry': 5, 'aragorn': 7, 'legolas': 7, 'boromir': 7, 'gimli': 5}

<b> generator expressions </b> <br>
Dělá to stejný co list compre., akorát neukládá vytvořený objekt do paměti, ale vytvoří pouze generator object, nad kterým se může provádět iterace. Hodí se pokud pracujeme s velmi objemnými počty dat. <br>
Vytvoří se pomocí (). <br>
Při vytváření generátoru pomocí <b>def</b>, tak nevracíme objekt pomocí return, ale pomocí <b>yield</b>

In [20]:
# Create a list of strings: lannister
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Create a generator object: lengths
lengths = (len(person) for person in lannister)

# Iterate over and print the values in lengths
for value in lengths:
    print(value)

6
5
5
6
7

<b>Generator function</b> <br>
A generator function is defined as you do a regular function, but whenever it generates a value, it uses the keyword <b>yield</b> instead of return.

In [21]:
# Create a list of strings
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Define generator function get_lengths
def get_lengths(input_list):
    """Generator function that yields the
    length of the strings in input_list."""

    # Yield the length of a string
    for person in input_list:
        yield len(person)

# Print the values generated by get_lengths()
for value in get_lengths(lannister):
    print(value)

6
5
5
6
7

## Zip() function

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [22]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")
c = (1,2,3,4,5) # bere se pouze ten nejmenší tuple

x = zip(a, b, c)

#use the tuple() function to display a readable version of the result:

print(tuple(x))

(('John', 'Jenny', 1), ('Charles', 'Christy', 2), ('Mike', 'Monica', 3))

## Numpy array

A numpy array contains homogeneous data types (which reduces memory consumption) and provides the ability to apply operations on all elements through broadcasting

In [23]:
nums = np.array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])
nums

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [24]:
# Print second row of nums
print(nums[1])

# Print all elements of nums that are greater than six
print(nums[nums > 6])

# Double every element of nums
nums_dbl = nums * 2
print(nums_dbl)

# Replace the third column of nums
nums[:,2] = nums[:,2] + 1
print(nums)

[ 6  7  8  9 10]
[ 7  8  9 10]
[[ 2  4  6  8 10]
 [12 14 16 18 20]]
[[ 1  2  4  4  5]
 [ 6  7  9  9 10]]

## %timeit <br>
používá se k zeefektivnění jednotlivých funkcí/operací, jelikož ukazuje čas provedení jednotlivých fcí/operací

In [25]:
%timeit [*range(0,50)]

789 ns ± 11.3 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [26]:
%timeit [num for num in range(0,50)]

2.52 µs ± 101 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

lze upravit i počet běhu a počet loops na jednotlivý běh

In [27]:
%timeit -r5 -n25 set("dog")

559 ns ± 28.9 ns per loop (mean ± std. dev. of 5 runs, 25 loops each)

### Pro analýzu kódu řádek po řádku se používá -> line_profiler

In [62]:
%load_ext line_profiler

%lprun -f název_funkce název_funkce(argument)

#### Pro analýzu času

In [29]:
%lprun -f enumerate_example enumerate_example(names)

[(0, 'Jerry'), (1, 'Kramer'), (2, 'Elaine'), (3, 'George'), (4, 'Newman')]

#### Pro analýzu pamětio (memory footprint)

In [35]:
%load_ext memory_profiler

In [37]:
# lze použít pouze pro funkce použité na "pevném disky", ne na cloudu
%mprun -f enumerate_example enumerate_example(names)

ERROR: Could not find file <ipython-input-13-4b0872b80996>
NOTE: %mprun can only be used on functions defined in physical files, and not in the IPython environment.
[(0, 'Jerry'), (1, 'Kramer'), (2, 'Elaine'), (3, 'George'), (4, 'Newman')]

## iterrows function <br>

In [81]:
titanic = pd.read_csv("titanic/train.csv")

In [67]:
titanic_generator = titanic.iterrows()

In [68]:
lst = [*range(1,11)]

In [69]:
for e in lst:
    if e % 2 > 0:
        print(e)

1
3
5
7
9

In [80]:
sum_age = 0
for index, values in titanic_generator:
    if index % 2 > 0:
        sum_age = sum([values[1], values[3], values[5]])
        print(sum_age)

## apply function <br>

aplikuje zvolenou funkci na dataset

In [87]:
titanic[["Age", "Pclass", "Fare"]].apply(lambda x: x ** 2, axis=1)

        Age  Pclass         Fare
0     484.0     9.0    52.562500
1    1444.0     1.0  5081.308859
2     676.0     9.0    62.805625
3    1225.0     1.0  2819.610000
4    1225.0     9.0    64.802500
..      ...     ...          ...
886   729.0     4.0   169.000000
887   361.0     1.0   900.000000
888     NaN     9.0   549.902500
889   676.0     1.0   900.000000
890  1024.0     9.0    60.062500

[891 rows x 3 columns]

###  Format string (f-string) <br>
Metoda format() formátuje kód, tak, že drží místo danému argumentu v curly brackets {}.

In [9]:
name = "David"
age = 27

print(f"My name is {name} and I am {age}")
print("My name is {} and I am {}".format(name, age))

My name is David and I am 27
My name is David and I am 27

# Classes <br>
Object-oriented programming (OOP) - nepoužívá se již sekvence kroků/kódu spouštěná za sebou, nicméně se používá kód jakožto interakce objektů. <br>
Základem jsou objects a classes. Object je reprezentován pomocí STATE a BEHAVIOR. STATE (nějaký stav) většinou obsahuje nějakou informaci o objektu (email, telefonní číslo) a BEHAVIOR (metoda, obsahuje nějakou metodu/funkci, co může daný objekt dělat - vytvořit/zrušit objednávku). Jsou jako jedna jednotka, nad kterými běží určitý kód (encapsulation). <br>

Classes - jsou templates/vzory/blueprint pro objekty. Obsahují v sobě informaci jak se všechny dané objekty mají chovat, tedy popisují jak daný state a behavior se pro daný objekt má chovat.

state <-> attributes <-> reprezentovány pomocí variables <-> obj.my_attribute <br>
behavior <-> methods <-> reprezentovány pomocí functions() <-> obj.my_method()

In [8]:
a = np.array([1,2,3,4])
print("Toto je atribut objektu shape ->", a.shape)
print("Toto je metoda objektu reshape() ->", a.reshape(2,2))

Toto je atribut objektu shape -> (4,)
Toto je metoda objektu reshape() -> [[1 2]
 [3 4]]

#### Atributy <br>
atributy – informace, které se uloží k danému objektu. Atributy se označují tak, že mezi hodnotu a jméno jejího atributu napíšeš tečku. Chování je definováno ve třídě; data se schovávají právě v atributech jednotlivých objektů. <br>
Je to vlastně něco jako u dictionaries, kdy se zapíše ke klíči:hodnota. <br> **student["name"] = "Karel (dict) vs. student.name = "Karel" (class)**

## Vytvoření prázdné třídy a objektů této třídy

In [10]:
class Customer: #class <name>:
    #code for class 
    pass # vytvoří prázdnou třídu

# c1, c2 -> jsou objekty třídy Customer()
c1 = Customer()
c2 = Customer()

## Vytvoření třídy a metody identify pro tuto třídu

In [12]:
class Customer: #class <name>:
    #code for class 
    def identify(self, name): #metody jsou funkce, takže definice je stejná, akorát je tam argument "self"
        print("I am customer " + name)

# c1 objekt třídy Customer()
# zavoláme metodu pro daný objekt .identify() a přiřadíme dané jméno objektu - asi state
c1 = Customer()
c1.identify("Laura")

I am customer Laura

self - objekt dané třídy ještě neexistuje, když se vytvaří daná třída. Proto je tam self, který vlastně dělá místo pro budoucí data objektů, které budou vytvořeny až se vytvoří daný objekt třídy.

c1.identify("Laura") právě proto stejné jako Customer.identify(c1, "Laura")

In [21]:
class Customer:
    # set (nastavit) the name attribute of an object to new_name
    def set_name(self, new_name): # (self, new_name) jsou argumenty
        # vytvoříme atribut, tak že tam přiřadíme nějakou hodnotu
        self.name = new_name    # <-- vytvoří .name potom co se zavolá set_name, ".name" je atribut třídy
                                # vychází z toho, že proměnné vznikají tak, že se jim přiřadí "="

cust = Customer()               #.name zde ještě neexistuje
cust.set_name("Lara Para")      #.name je zde vytvořeno a přiřazeno k němu "Lara Para"
cust.name

'Lara Para'

#### Použití .name z objektu it-self

In [19]:
class Customer:
    def set_name(self, new_name):
        self.name = new_name
    
    def identify(self):
        print("I am Customer " + self.name)
        
cust = Customer()
cust.set_name("Pepa")
cust.identify()

I am Customer Pepa

## Využití atributů při definování třídy

In [22]:
class Employee:
    def set_name(self, new_name):
        self.name = new_name

    def set_salary(self, new_salary):
        self.salary = new_salary 

    # Add a give_raise() method with raise amount as a parameter
    def give_raise(self, amount):
        self.salary = self.salary + amount

emp = Employee()
emp.set_name('Korel Rossi')
emp.set_salary(50000)

print(emp.salary)
emp.give_raise(1500)
print(emp.salary)

50000
51500

## Methody třídy mohou také rovnou vracet hodnoty

In [23]:
class Employee:
    def set_name(self, new_name):
        self.name = new_name

    def set_salary(self, new_salary):
        self.salary = new_salary 

    def give_raise(self, amount):
        self.salary = self.salary + amount

    # Add monthly_salary method that returns 1/12th of salary attribute
    def monthly_salary(self):
        return self.salary / 12
    
emp = Employee()
emp.set_name('Korel Rossi')
emp.set_salary(50000)

# Get monthly salary of emp and assign to mon_sal
mon_sal = emp.monthly_salary()

# Print mon_sal
print(mon_sal)

4166.666666666667

## Constructor __init__ (speciální metoda) <br>
Hodí se ve chvíli, když už máme hodně metod v jedné třídě. Data se přiřadí k objektu až ve chvíli, kdy je vytvořena třída. <br>
The task of constructors is to **initialize(assign values)** to the data members of the class when an object of the class is created. Like methods, a constructor also contains a collection of statements(i.e. instructions) that are executed at the time of Object creation. It is run as soon as an object of a class is instantiated. The method is useful to do any initialization you want to do with your object.

In [36]:
class Customer:
    def __init__(self, name, plat=0):  #může být použito k zadání default hodnot
        self.name = name
        self.plat = plat
        print("This is __init__ method")
    
cust = Customer("Karel Novak", 20000)
print(cust.name)
print(cust.plat)

This is __init__ method
Karel Novak
20000

Nůže se využít i k pre-processingu.

In [37]:
class Employee:
  
    def __init__(self, name, salary=0):
        self.name = name
        # Modify code below to check if salary is positive
        if salary > 0:
            self.salary = salary
        else:
            self.salary = 0
            print("Invalid salary!")
        
   
   # ...Other methods omitted for brevity ...
      
emp = Employee("Korel Rossi", -1000)
print(emp.name)
print(emp.salary)

Invalid salary!
Korel Rossi
0

## Instance and class data <br>
Instance-level data - náleží ke konkrétnímu příkladu/instanci v dané třídě self.name, self.salary <br>
Class-level data - jsou sdílená se všemi instancemi/příklady/atributy uvnitř dané třídy, jsou volány pomocí názvu třídy a jména této instance (Employee.min_salary). <br>
Class-attributes - se používají nejčastěji v případech min/max values nebo například často používané hodnoty jako Pí při definování class Kruh <br>
Class.methods - nejsou tolik používány, jelikož už jsou sdíleny pro všechny instances uvnitř Class. Jejich definice je odlišná od běžných metod. (@classmethod a cls namísto self)

#### Příklad použití class-attributes

In [39]:
class Player:
    MAX_POSITION = 10 #Class-attribute
    
    def __init__(self):
        self.position = 0

    # Add a move() method with steps parameter     
    def move(self, steps):
        if self.position + steps < Player.MAX_POSITION: #Volání class.atributu
            self.position = self.position + steps 
        else:
            self.position = Player.MAX_POSITION

#### Příklad použití class-methods (cls namísto self a při definici se použije @classmethod)

In [40]:
class BetterDate:
    # Constructor
    def __init__(self, year, month, day):
      # Recall that Python allows multiple variable assignments in one line
      self.year, self.month, self.day = year, month, day
    
    # Define a class method from_str
    @classmethod
    def from_str(cls, datestr):
         # Split the string at "-" and  convert each part to integer
        parts = datestr.split("-")
        year, month, day = int(parts[0]), int(parts[1]), int(parts[2])
        # Return the class instance
        return cls(year, month, day)
        
bd = BetterDate.from_str('2020-04-30')   
print(bd.year)
print(bd.month)
print(bd.day)

2020
4
30

## Properties <br>
atribut, díky kterému máme větši kontrolu nad kódem. <br> 
@property - takhle se definuje, napíše se nad danou funkci @property a tím z ní bude "getter" <br>
následně můžeme definovat funkci "setter", tak že napíšeme nad tu funkci @jméno_fce.setter
decorator - funkce, která je schopná měnit ostatní funkce

@property 
def house(self):
    return self.house

@house.setter
def house(self, house):
    self.house = house

## Class inheritance <br>
Vytvoříme novou Class, která má všechny funkcionality staré class a zároveň je obohacena o nové funkce/změny, které chceme implementovat. <br>
class NewClass(OldClass):

In [43]:
class Employee:
    MIN_SALARY = 30000    

    def __init__(self, name, salary=MIN_SALARY):
        self.name = name
        if salary >= Employee.MIN_SALARY:
            self.salary = salary
        else:
            self.salary = Employee.MIN_SALARY
    def give_raise(self, amount):
        self.salary += amount      
        
# Vytvoří se Manager class z Employee class, která má metodu display(), která vytiskne string "Manager"+jmeno
# MODIFY Manager class and add a display method
class Manager(Employee):
    def display(self):
        print("Manager", self.name)

mng = Manager("Debbie Lashko", 86500)
print(mng.name)

# Call mng.display()
mng.display()

Debbie Lashko
Manager Debbie Lashko

#### Metody se mohou zdědit z mateřských tříd

In [44]:
class Employee:
    def __init__(self, name, salary=30000):
        self.name = name
        self.salary = salary

    def give_raise(self, amount):
        self.salary += amount

        
class Manager(Employee):
    def display(self):
        print("Manager ", self.name)

    def __init__(self, name, salary=50000, project=None):
        Employee.__init__(self, name, salary)
        self.project = project

    # Add a give_raise method
    def give_raise(self, amount, bonus=1.05):
        new_amount = amount * bonus
        Employee.give_raise(self, new_amount)
    
    
mngr = Manager("Ashta Dunbar", 78500)
mngr.give_raise(1000)
print(mngr.salary)
mngr.give_raise(2000, bonus=1.03)
print(mngr.salary)

79550.0
81610.0

# Unit testing <br>
Automatizují repetetivní testování a urychlují celý proces vzniku nového nebo upraveného kódu. Urychlí tím vývoj celého kódu/produktu. <br>
**test_** - Python umí interpretovat jako file, kde se nachází unit_testy. Soubor, které obsahují unit testy se také nazývají jako test modules. <br>
**assert** uvnitř test. funkce. Pomocí tohoto příkazu je proveden právě ten test. Využaduje boolen expression -> aby mohl poskytnout True/False <br>
pro ověření, že daný test funguje zavoláme přes cmd line -> **pytest test_row_to_list.py** <br>
**cat test_mystery_function.py** - slouží k vypsání funkce jak je definována

**pytest** - v sobě vlastně obsahuje try - except blok. Takže ho nemusíme psát a stačí nám jenom zavolat assert.

In [4]:
# Import the pytest package
import pytest

# Import the function convert_to_int()
from preprocessing_helpers import convert_to_int

# Complete the unit test name by adding a prefix
def test_on_string_with_one_comma():
  # Complete the assert statement
  assert convert_to_int("2,081") == 2081 #True

ModuleNotFoundError: No module named 'preprocessing_helpers'

můžeme přidat chybový text pro lepší pochopení chyby -> **assert actual is expected, message** (assert 3 + 2 == 6, "3 + 2 není 6)

## Exception <br>
**try - except - finally** <- koncept <br>
**raise** ExceptionNameHere('Error message here') <br>
Exception jsou class, takže můžeme je inheritovat a následně si je upravit dle potřeby. **class BalanceError(Exeption): pass** <br>
Notice that if you raise an exception inside an if statement, you don't need to add an else branch to run the rest of the code. Because raise terminates the function, the code after raise will only be executed if an exception did not occur.

In [3]:
def greater_than_zero(number):
    if number <= 0:
        raise ValueError("The number must be greater than zero!")
    else:
        print(number)
greater_than_zero(-5)

ValueError: The number must be greater than zero!

In [12]:
while True:
    try:
        x = int(input("Write a number: "))
    except ValueError:
            print("This is not a number")
    else:
        break
print(f"Your number is {x}")

Write a number: cat
This is not a number
Write a number: dog
This is not a number
Write a number: 22
Your number is 22

In this exercise below, you are given a function invert_at_index(x, ind) that takes two arguments, a list x and an index ind, and inverts the element of the list at that index. For example invert_at_index([5,6,7], 1) returns 1/6, or 0.166666

In [8]:
# MODIFY the function to catch exceptions
def invert_at_index(x, ind):
    try: 
        return 1/x[ind]
    except ZeroDivisionError:
        print("Cannot divide by zero!")
    except IndexError:
        print("Index out of range!")
 
a = [5,6,0,7]

# Works okay
print(invert_at_index(a, 1))

# Potential ZeroDivisionError
print(invert_at_index(a, 2))

# Potential IndexError
print(invert_at_index(a, 5))

0.16666666666666666
Cannot divide by zero!
None
Index out of range!
None

## Regex - Regular Expression <br>
RegEx can be used to check if a string contains the specified search pattern. A RegEx is a sequence of characters that forms a search pattern. <br>


Syntax: **re.funkce("hledaný výraz", list/řetězec)** <br>
Umístěním r před regex pattern říkáme, aby ignoroval "/", který se může objevovat v textu.

. -> jakýkoliv character, vyjma nového řádku /n <br>
*-> 0 až jakékoliv množství opakování charakteru <br>
+-> 1 až jakékoliv množství opakování charakteru <br>
? -> pouze 0 nebo 1 opakování daného charakteru <br> 
{m} -> námi zvolené množství charakterů <br>
{m, n} -> námi zvolený rozsah, hledám od m do n opakování daného charakteru <br>
\ -> escape character, říká Python, že když je před speciálním znakem jako (. nebo třeba +) "\", tak aby se k tomu spešl znaku choval jako k normální tečce nebo plusu
^ -> bude hledat pouze na zaátku řetězce <br>
$ -> bude hledat pouze na konci řetězce nebo tam, kde je kde začátek new line <br>
[] -> jakýkoliv výběr znaků [a-z] <br>
[^] -> nesmí obsahovat tento znak [^@]+ může obsahovat všechno kromě "@" <br>
\w -> reprezentuje [a-zA-Z0-9_] (word characters and underscore) <br>
\W -> not a word characters and underscore <br>
\d -> decimal digits <br>
\s -> whitespace characters <br>
() -> můžeme zachytit co je v () jako výstup <br>
(?:) -> nezachycuj výstup, pouze to bude jako optional

In [15]:
# re.search(".+@.+\.com", email) -> vrátí hodnotu jakéhokoliv znaku(.) před @, kdy tam může být 1 až libovolné množství znaků(*) 
# a zároveň vrátí v hodnotu jakéhokoliv znaku(.) za @, kdy tam může být 1 až libovolné množství znaků(*) a bude to zakončené
# sekvencí znaku ".com"($), kde re.IGNORECASE je spešl argument, který říká ignoruj lower/uppercase

email = "frantaVOMACKA@gmail.COM"

if re.search(r".+@.+\.com$", email, re.IGNORECASE):
    print("Valid")
else:
    print("Not Valid")

Valid

In [20]:
name = input("Whats your name: ").strip() # Hajek, David
matches = re.search(r"^(.+), (.+)$", name) # zacinajíci libovolným symbolem + musí jich být 1 a více, potom "čárka" a končící podobně 
if matches:
    last = matches.group(1) # je ta první závorka
    first = matches.group(2) # je ta druhá závorka
    name =f"{last} {first}"
print(f"hello, {name}")

Whats your name: Hajek, David
hello, Hajek David

In [3]:
import re

In [14]:
text = "The rain in Spain"

In [16]:
# Returns a list containing all matches

re_findall = re.findall("ai", text)
print(re_findall)

['ai', 'ai']

In [20]:
# Returns a Match object if there is a match anywhere in the string

re_search = re.search("S", text)
print(re_search)

<re.Match object; span=(12, 13), match='S'>

In [23]:
# Returns a list where the string has been split at each match

re_split = re.split("\s", text)
print(re_split)

['The', 'rain', 'in', 'Spain']

In [21]:
# Returns a list where the string has been split at each match

re_sub = re.sub("\s", "9", text)
print(re_sub)

The9rain9in9Spain

## Tokenizace

In [5]:
scene_one = "SCENE 1: [wind] [clop clop clop] \nKING ARTHUR: Whoa there!  [clop clop clop] \nSOLDIER #1: Halt!  Who goes there?\nARTHUR: It is I, Arthur, son of Uther Pendragon, from the castle of Camelot.  King of the Britons, defeator of the Saxons, sovereign of all England!\nSOLDIER #1: Pull the other one!\nARTHUR: I am, ...  and this is my trusty servant Patsy.  We have ridden the length and breadth of the land in search of knights who will join me in my court at Camelot.  I must speak with your lord and master.\nSOLDIER #1: What?  Ridden on a horse?\nARTHUR: Yes!\nSOLDIER #1: You're using coconuts!\nARTHUR: What?\nSOLDIER #1: You've got two empty halves of coconut and you're bangin' 'em together.\nARTHUR: So?  We have ridden since the snows of winter covered this land, through the kingdom of Mercea, through--\nSOLDIER #1: Where'd you get the coconuts?\nARTHUR: We found them.\nSOLDIER #1: Found them?  In Mercea?  The coconut's tropical!\nARTHUR: What do you mean?\nSOLDIER #1: Well, this is a temperate zone.\nARTHUR: The swallow may fly south with the sun or the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land?\nSOLDIER #1: Are you suggesting coconuts migrate?\nARTHUR: Not at all.  They could be carried.\nSOLDIER #1: What?  A swallow carrying a coconut?\nARTHUR: It could grip it by the husk!\nSOLDIER #1: It's not a question of where he grips it!  It's a simple question of weight ratios!  A five ounce bird could not carry a one pound coconut.\nARTHUR: Well, it doesn't matter.  Will you go and tell your master that Arthur from the Court of Camelot is here.\nSOLDIER #1: Listen.  In order to maintain air-speed velocity, a swallow needs to beat its wings forty-three times every second, right?\nARTHUR: Please!\nSOLDIER #1: Am I right?\nARTHUR: I'm not interested!\nSOLDIER #2: It could be carried by an African swallow!\nSOLDIER #1: Oh, yeah, an African swallow maybe, but not a European swallow.  That's my point.\nSOLDIER #2: Oh, yeah, I agree with that.\nARTHUR: Will you ask your master if he wants to join my court at Camelot?!\nSOLDIER #1: But then of course a-- African swallows are non-migratory.\nSOLDIER #2: Oh, yeah...\nSOLDIER #1: So they couldn't bring a coconut back anyway...  [clop clop clop] \nSOLDIER #2: Wait a minute!  Supposing two swallows carried it together?\nSOLDIER #1: No, they'd have to have it on a line.\nSOLDIER #2: Well, simple!  They'd just use a strand of creeper!\nSOLDIER #1: What, held under the dorsal guiding feathers?\nSOLDIER #2: Well, why not?\n"

In [3]:
import nltk
#nltk.download()

In [7]:
# Import necessary modules
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize

# Split scene_one into sentences: sentences
sentences = sent_tokenize(scene_one)

# Use word_tokenize to tokenize the fourth sentence: tokenized_sent
tokenized_sent = word_tokenize(sentences[3])

# Make a set of unique tokens in the entire scene: unique_tokens
unique_tokens = set(word_tokenize(scene_one))

# Print the unique tokens result
print(unique_tokens)

{'second', 'ounce', '?', 'Saxons', 'found', '2', 'land', 'Will', 'halves', 'sovereign', 'and', 'maybe', 'non-migratory', 'velocity', 'through', 'temperate', 'will', 'master', 'swallow', 'wings', 'south', 'where', '1', 'your', "'ve", 'plover', 'with', 'wants', 'dorsal', 'lord', 'migrate', 'fly', 'he', 'knights', 'But', 'Camelot', 'No', 'these', 'point', 'that', 'house', 'King', 'weight', 'Where', 'anyway', 'not', 'am', 'me', 'horse', 'empty', 'In', 'pound', 'my', 'grips', 'search', 'them', 'you', 'African', 'air-speed', 'Whoa', "n't", 'I', 'Ridden', 'They', 'it', 'SCENE', '[', 'strand', 'wind', 'at', 'Supposing', "'d", 'from', "'m", 'bangin', 'son', 'two', 'held', 'Oh', 'all', "'", 'are', 'here', 'Please', 'court', 'The', 'could', 'Britons', 'our', 'clop', 'order', 'Who', 'is', 'since', 'its', 'this', 'other', ',', 'simple', 'matter', 'servant', 'by', 'if', 'husk', 'warmer', 'tropical', 'A', 'covered', 'carried', 'but', 'times', 'back', 'defeator', '#', 'does', 'there', '.', '...', 'agree', 'martin', 'they', 'every', 'It', 'coconut', 'Are', 'under', 'Pendragon', 'zone', 'tell', 'question', 'ridden', 'You', 'guiding', 'Halt', 'snows', 'Court', 'Wait', 'carrying', 'SOLDIER', "'em", 'KING', 'strangers', 'seek', 'have', 'length', 'just', 'suggesting', 'Listen', 'in', 'go', 'speak', 'must', 'So', 'ratios', 'castle', 'Patsy', 'trusty', 'an', 'Yes', 'European', '!', 'one', 'creeper', 'We', 'why', 'yet', 'carry', "'re", 'five', 'Pull', 'to', 'get', 'together', 'coconuts', 'beat', 'Found', 'sun', 'What', 'use', 'winter', 'do', 'then', 'Uther', 'maintain', 'bird', 'goes', 'may', 'mean', 'of', 'needs', 'Am', 'bring', 'be', 'using', 'Not', 'line', 'feathers', ':', '--', "'s", 'minute', 'the', 'who', 'forty-three', 'interested', 'on', 'got', 'join', 'a', 'kingdom', 'Well', 'England', 'course', 'ARTHUR', 'right', 'ask', 'Mercea', 'grip', 'or', ']', 'climes', 'yeah', 'That', 'swallows', 'breadth', 'Arthur'}

[] - vybere všechno co je uvnitř [a-zA-Z] <br>
\ - přidává se před speciální znaky, když chci, aby byly zahrnuté (."!+) a taky s určitými písmeny má význam. \s - mezera <br> 
| - or

**Python ord()** 

function returns the Unicode code from a given character. This function accepts a string of unit length as an argument and returns the Unicode equivalence of the passed argument.

In [1]:
print(ord('h'))
print(ord("h") - ord('a') + 1)

104
8

**Python index()** 

is an inbuilt function in Python, which searches for a given element from the start of the list and returns the index of the first occurrence.

In [2]:
# list of items
list2 = ['cat', 'bat', 'mat', 'cat', 'pet']
 
# Will print the index of 'mat' in list2
print(list2.index('mat'))

2

In [3]:
x = "show me word with the most highest score from this string"
word_values = [65, 18, 60, 60, 33, 67, 76, 60, 52, 56, 87]
max_value = max(word_values)
index_of_max = word_values.index(max_value)
print(index_of_max)

10

## Reading data

In [38]:
test_read = pd.read_csv('../../Downloads/MOCK_DATA.csv')

In [39]:
test_read_col_names = test_read.columns

In [55]:
test_read = pd.read_csv('../../Downloads/MOCK_DATA.csv', 
                       nrows=50, #nacte pouze 50 radku
                       skiprows=100, # preskoci prvnich 100 radku
                       names=list(test_read_col_names), # pouzije nazvy sloupcu ze slovniku
                       dtype= {"model_year": int}, # prevedeni model_year na int
                       na_values={"email": 0}, # kdekoliv v emailu bude 0, tak to bude brano jako NaN
                       error_bad_lines=False, # pokud se nepodari nacist radek, tak preskoci
                       warn_bad_lines=True, # vypise, kteri radek se nenacetl
                       parse_dates=["date_of_buy"]) #datetime se parsuje jinak nez object

In [56]:
test_read.dtypes

car_id                    object
model                     object
model_year                 int32
date_of_buy       datetime64[ns]
car_prize                 object
first_name                object
last_name                 object
street_address            object
email                     object
credit_card                int64
card_type                 object
dtype: object

## Připojení k databázi

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('mysql+mysqlconnector://root:godzila5@localhost/sakila')

In [5]:
actor = pd.read_sql('actor', engine)

In [6]:
actor

     actor_id first_name     last_name         last_update
0           1   PENELOPE       GUINESS 2006-02-15 04:34:33
1           2       NICK      WAHLBERG 2006-02-15 04:34:33
2           3         ED         CHASE 2006-02-15 04:34:33
3           4   JENNIFER         DAVIS 2006-02-15 04:34:33
4           5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33
..        ...        ...           ...                 ...
195       196       BELA        WALKEN 2006-02-15 04:34:33
196       197      REESE          WEST 2006-02-15 04:34:33
197       198       MARY        KEITEL 2006-02-15 04:34:33
198       199      JULIA       FAWCETT 2006-02-15 04:34:33
199       200      THORA        TEMPLE 2006-02-15 04:34:33

[200 rows x 4 columns]

## Práce s API

In [18]:
import requests
api_url = "https://api.covid19api.com/summary"

#headers = {"Authorization": "Bearer {}".format(api_key)}

#parameters = {'term':'cafe',
#               'location':'NYC'}

# Get data about from API
response = requests.get(api_url) 
#                headers=headers, 
#                params=params)

# Extract JSON data from the response
data = response.json()

In [42]:
response.status_code

200

In [44]:
response.headers

{'Date': 'Fri, 20 Jan 2023 13:29:31 GMT', 'Content-Type': 'application/json; charset=UTF-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Content-Encoding': 'gzip', 'Strict-Transport-Security': 'max-age=15724800; includeSubDomains', 'Vary': 'Origin, Accept-Encoding', 'X-Content-Type-Options': 'nosniff', 'X-Dns-Prefetch-Control': 'off', 'X-Download-Options': 'noopen', 'X-Frame-Options': 'DENY', 'X-Ratelimit-Limit': '3', 'X-Ratelimit-Remaining': '2', 'X-Ratelimit-Reset': '1674221376', 'X-Request-Id': '77f940599c06355444d2e24836311b6e', 'X-Xss-Protection': '1; mode=block'}

In [22]:
data.keys()

dict_keys(['ID', 'Message', 'Global', 'Countries', 'Date'])

In [24]:
data["Global"]

{'NewConfirmed': 374976,
 'TotalConfirmed': 665654615,
 'NewDeaths': 3014,
 'TotalDeaths': 6723567,
 'NewRecovered': 0,
 'TotalRecovered': 0,
 'Date': '2023-01-19T22:42:47.923Z'}

In [29]:
type(data["ID"]), type(data["Message"]), type(data["Global"]), type(data["Countries"]), type(data["Date"]),

(str, str, dict, list, str)

In [32]:
data_countries = pd.DataFrame(data["Countries"])
data_countries.head()

,ID,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date,Premium
0,59a8ccd2-976e-4ea7-8508-2fcdea5db69f,Afghanistan,AF,afghanistan,25,208034,1,7860,0,0,2023-01-19T22:42:47.923Z,{}
1,6eba6b6d-8b1f-4c23-868c-487b07497f31,Albania,AL,albania,20,334084,0,3596,0,0,2023-01-19T22:42:47.923Z,{}
2,ccd313fe-7d3c-4851-844c-cc8b27eaeaf8,Algeria,DZ,algeria,4,271296,0,6881,0,0,2023-01-19T22:42:47.923Z,{}
3,de2910d9-a398-4433-9959-c0210a2145e6,Andorra,AD,andorra,0,47781,0,165,0,0,2023-01-19T22:42:47.923Z,{}
4,2f6fa646-af3b-4fd4-8aa5-9b092841bc59,Angola,AO,angola,0,105095,0,1930,0,0,2023-01-19T22:42:47.923Z,{}